footer{
    background-color: $colornegro;

    img{
        height: 20px;
    }

    .footer_div{

        padding-left: 300px;
        display: flex;
        

        p{
            color: $colortexto;
            @include FooterPadding;
        }
        a{
            color: $colortexto;
            @include FooterPadding;
        }

        div{
            @include FooterPadding;
        }

    }

    .footer_email{
        color: $colortexto;
    }
}