//index
.main_index{
    padding-top: 3%;
    text-align: center;
    background-color:$colorfondo;
    padding-bottom: 21px;

    p{
        padding: 2%;
    }

    h1{
        color:$colortexto;
    }
}
.index_img img{
    height: 320px;
}
.index_img2 img{
    height: 420px;
}
//servicios
.servicios_main{
    h1{
        color:$colortexto;
    }
    padding-top: 2%;
    text-align: center;
    align-items: center;
    background-color:$colorfondo;
    padding-bottom: 21px;


    .galeria_1 img{
        width: 85vh;
        height: 60vh;
    }

    .galeria_2 img{
        width: 85vh;
        height: 60vh;
    }

}
//oportunidades
.oportunidades_main{
    height: 600px;
    padding-bottom: 700px;
    background-color:$colorfondo;

    h1{
        @include Centrar;
        color:$colortexto;
    
    }
}
.oportunidades_img img{
    height: 300px;
    padding-left: 20px;
}
//nosotros
.nosotros_main{
    height: 600px;
    background-color:$colorfondo;

    .nosotros_message{
        width: 70px;
        margin-left: 95vh;
        margin-top: 7vh;
        margin-bottom: 4vh;
        
    }

    h1{
        color:$colortexto;
        @include Centrar;
        color: $colortexto;
    }

    p{
        @include Centrar;
        text-align: center;  
    }
}
//contacto
.contacto_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:$colorfondo;
    padding: 40px 0px 220px;
    
}
.contact-form{  
    background-color:$colorfondo;
    margin: 50px 250px;
    padding: 50px;
    border-radius: 20px;

    h1{
        
        margin-bottom: 30px;
    }
}
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid $colornegro;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}
