
@media only screen and (max-width: 600px) {

  .logo{

   padding-left: 162px;

  }
  .nosotros_main{
    padding-bottom: 700px;
  }

  .index_img img{
    height: 23vh;
  }
  .imagen6{
    height: 5vh;
  }
  .index_img2 img{
    height: 28vh;
  }
  .oportunidades_main{
    padding-bottom: 2500px;
  }

  .galeria_1{
    width: 50vh;
    padding-left: 11%;
    height: 50px;
    padding-bottom: 900px;
   
  }
  .galeria_2{
    padding-left: 11%;
    width: 50vh;
    height: 50px;
    padding-bottom: 900px;
    
  }

  .servicios_main{
    padding-bottom: 100px;
  }


  
}