$colorfondo:rgba(207, 108, 163, 0.762);
$colornegro: rgb(41, 39, 39);
$colortexto:white;

@mixin Centrar {
    display: flex;
    justify-content: center;
}

@mixin FooterPadding {
    padding-left: 5%;
}

